Build
Dist
Doxygen
Deprecated/PythonClient/dist
TrafficManager/build
Util/Build
Install
Plugins

/ExportedMaps
/Import/*
!/Import/README.md

*.VC.db
*.VC.opendb
*.a
*.egg-info
*.kdev4
*.log
*.o
*.pb.cc
*.pb.h
*.pid
*.pri
*.pro
*.py[cod]
*.sln
*.so
*.stackdump
*.sublime-workspace
*.workspace
*CodeCompletionFolders.txt
*CodeLitePreProcessor.txt
.aria2c.input
.codelite
.gdb_history
.gtest
.idea
.tags*
.vs
.vscode
__pycache__
_benchmarks_results
_images*
_out*
_site
core
profiler.csv
*.pcd
Unreal/CarlaUE4/Content/Carla/Maps/Nav/Town01.bin
Unreal/CarlaUE4/Content/Carla/Maps/Nav/Town02.bin
Unreal/CarlaUE4/Content/Carla/Maps/Nav/Town03.bin
Unreal/CarlaUE4/Content/Carla/Maps/Nav/Town04.bin
Unreal/CarlaUE4/Content/Carla/Maps/Nav/Town05.bin
Unreal/CarlaUE4/Content/Carla/Maps/Nav/Town06.bin
Unreal/CarlaUE4/Content/Carla/Maps/Nav/Town07.bin
Unreal/CarlaUE4/Content/Carla/Maps/Nav/Town10HD.bin
Unreal/CarlaUE4/Content/Carla/Maps/OpenDrive/Town01.xodr
Unreal/CarlaUE4/Content/Carla/Maps/OpenDrive/Town02.xodr
Unreal/CarlaUE4/Content/Carla/Maps/OpenDrive/Town03.xodr
Unreal/CarlaUE4/Content/Carla/Maps/OpenDrive/Town04.xodr
Unreal/CarlaUE4/Content/Carla/Maps/OpenDrive/Town05.xodr
Unreal/CarlaUE4/Content/Carla/Maps/OpenDrive/Town06.xodr
Unreal/CarlaUE4/Content/Carla/Maps/OpenDrive/Town07.xodr
Unreal/CarlaUE4/Content/Carla/Maps/OpenDrive/Town10.xodr
Unreal/CarlaUE4/Content/Carla/Maps/OpenDrive/Town10HD.xodr
Unreal/CarlaUE4/Content/Carla/Maps/BaseMap/BaseMap.umap
Unreal/CarlaUE4/Content/Carla/Maps/BaseMap/BaseMap_BuiltData.uasset
Unreal/CarlaUE4/Content/Carla/LICENSE
Unreal/CarlaUE4/Content/Carla/Maps/OpenDriveMap.umap
Unreal/CarlaUE4/Content/Carla/Maps/OpenDriveMap_BuiltData.uasset
Unreal/CarlaUE4/Content/Carla/Maps/TestMaps/EmptyMap.umap
Unreal/CarlaUE4/Content/Carla/Maps/Town01.umap
Unreal/CarlaUE4/Content/Carla/Maps/Town01_BuiltData.uasset
Unreal/CarlaUE4/Content/Carla/Maps/Town02.umap
Unreal/CarlaUE4/Content/Carla/Maps/Town02_BuiltData.uasset
Unreal/CarlaUE4/Content/Carla/Maps/Town03.umap
Unreal/CarlaUE4/Content/Carla/Maps/Town03_BuiltData.uasset
Unreal/CarlaUE4/Content/Carla/Maps/Town04.umap
Unreal/CarlaUE4/Content/Carla/Maps/Town04_BuiltData.uasset
Unreal/CarlaUE4/Content/Carla/Maps/Town05.umap
Unreal/CarlaUE4/Content/Carla/Maps/Town05_BuiltData.uasset
Unreal/CarlaUE4/Content/Carla/Maps/Town06.umap
Unreal/CarlaUE4/Content/Carla/Maps/Town06_BuiltData.uasset
Unreal/CarlaUE4/Content/Carla/Maps/Town07.umap
Unreal/CarlaUE4/Content/Carla/Maps/Town07_BuiltData.uasset
Unreal/CarlaUE4/Content/Carla/Maps/Town10HD.umap
Unreal/CarlaUE4/Content/Carla/Maps/Town10HD_BuiltData.uasset
